section img {
    max-width: 100%;
    /**override theme css**/
    width: 100%;
    height: auto !important;
    display: block;
    margin: 0 auto;
}

/*slider*/
#slider {
    text-align: center;
}

#slider input {
    display: none;
}

.catch {
    display: block;
    height: 0;
    overflow: hidden;
}

#slider {
    margin: 0 auto;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slide5:checked~#slides .inner {
    margin-left: -400%;
}

#container {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%
}

#slides .inner {
    width: 500%;
    line-height: 0;
}

#slides article {
    width: 20%;
    float: left;
}

#slide1:not(:checked)~#active label:nth-child(1),
#slide2:not(:checked)~#active label:nth-child(1),
#slide3:not(:checked)~#active label:nth-child(1),
#slide4:not(:checked)~#active label:nth-child(1),
#slide5:not(:checked)~#active label:nth-child(1) {
    border: 1px solid #000000;
    background-color: #f8d000;
    cursor: pointer;
}

#slide1:checked~#active label:nth-child(1),
#slide2:checked~#active label:nth-child(1),
#slide3:checked~#active label:nth-child(1),
#slide4:checked~#active label:nth-child(1),
#slide5:checked~#active label:nth-child(1) {
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 1;
    cursor: pointer;
}

/*default next*/
#slide1:not(:checked)~#commands label:nth-child(2) {
    border-radius: 50%;
    background-image: none !important;
    background-color: hsla(0, 0%, 92.2%, .6);
    right: 0;
    margin: 0 12px 0 0;
    display: block;
    cursor: pointer;
}

#slide1:not(:checked)~#commands label:nth-child(2):before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    background: url(https://media1.brandsforless.ae/static/homepages/super-price/ae/2020/8/11/m-sprite-default.png) no-repeat;
    background-size: 400px;
    display: inline-block;
    background-position: -91px -232px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*end of default next*/
/*default prev*/
#slide1:not(:checked)~#commands label:nth-child(5) {
    border-radius: 50%;
    background-image: none !important;
    background-color: hsla(0, 0%, 92.2%, .6);
    left: 0;
    margin: 0 0 0 12px;
    display: block;
    cursor: pointer;
}

#slide1:not(:checked)~#commands label:nth-child(5):before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    background: url(https://media1.brandsforless.ae/static/homepages/super-price/ae/2020/8/11/m-sprite-default.png) no-repeat;
    display: inline-block;
    background-size: 400px;
    background-position: -95px -258px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*end of default prev*/


#commands label {
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

#commands label:hover {
    opacity: 0.8
}

#active {
    position: relative;
    z-index: 5;
    text-align: center;
    bottom: 30px;
}

#active label {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;

}

#active label:hover {
    border: 1px solid #000 !important;
    background-color: #f8d000 !important;
    opacity: 1;
}

/*arrow next*/
#slide1:checked~#commands label:nth-child(2),
#slide2:checked~#commands label:nth-child(3),
#slide3:checked~#commands label:nth-child(4),
#slide4:checked~#commands label:nth-child(5),
#slide5:checked~#commands label:nth-child(1) {
    border-radius: 50%;
    background-image: none !important;
    background-color: hsla(0, 0%, 92.2%, .6);
    right: 0 !important;
    left: auto;
    margin: 0 12px 0 0;
    display: block;
    cursor: pointer;
    z-index: 3;
}

#slide1:checked~#commands label:nth-child(2):before,
#slide2:checked~#commands label:nth-child(3):before,
#slide3:checked~#commands label:nth-child(4):before,
#slide4:checked~#commands label:nth-child(5):before,
#slide5:checked~#commands label:nth-child(1):before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    background: url(https://media1.brandsforless.ae/static/homepages/super-price/ae/2020/8/11/m-sprite-default.png) no-repeat;
    background-size: 400px;
    display: inline-block;
    background-position: -91px -232px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*end of arrow next*/
/*arrow previous*/
#slide1:checked~#commands label:nth-child(5),
#slide2:checked~#commands label:nth-child(1),
#slide3:checked~#commands label:nth-child(2),
#slide4:checked~#commands label:nth-child(3),
#slide5:checked~#commands label:nth-child(4) {
    border-radius: 50%;
    background-image: none !important;
    background-color: hsla(0, 0%, 92.2%, .6);
    left: 0;
    margin: 0 0 0 12px;
    display: block;
    cursor: pointer;
    z-index: 3;
}

#slide1:checked~#commands label:nth-child(5):before,
#slide2:checked~#commands label:nth-child(1):before,
#slide3:checked~#commands label:nth-child(2):before,
#slide4:checked~#commands label:nth-child(3):before,
#slide5:checked~#commands label:nth-child(4):before {
    z-index: 3;
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    background: url(https://media1.brandsforless.ae/static/homepages/super-price/ae/2020/8/11/m-sprite-default.png) no-repeat;
    display: inline-block;
    background-size: 400px;
    background-position: -95px -258px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*end of arrow previous*/
/*bullet*/
#slide1:checked~#active label:nth-child(1),
#slide2:checked~#active label:nth-child(2),
#slide3:checked~#active label:nth-child(3),
#slide4:checked~#active label:nth-child(4),
#slide5:checked~#active label:nth-child(5) {
    border: 1px solid #000;
    background-color: #f8d000;
}

#slides {
    position: relative;
    background: #FFF;
    background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;

}

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.715, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

#commands label {
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

#slider {
    max-width: 100%;
}